@model MedicalPrescription
@{
    ViewData["Title"] = "Prescription";
}

<div class="prescription container panel">
    <div class="table-header">
        <h1>Prescription Details:</h1>
        <div class="buttons">
            <form asp-action="Prescriptions" method="get">
                <button class="btn">Powrót</button>
            </form>
            <form asp-action="EditPrescription" method="get">
                <input type="hidden" name="prescriptionId" value="@Model.ID" />
                <button class="btn">Edytuj</button>
            </form>
            <form asp-action="DeletePrescription" method="post">
                <input type="hidden" name="prescriptionId" value="@Model.ID" />
                <button class="btn">Usuń</button>
            </form>
        </div>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Imie i nazwisko</th>
                <td>@(Model.Patient.FirstName+" "+Model.Patient.SecondName)</td>
            </tr>
            <tr>
                <th>Data wypisania</th>
                <td>@Model.CreationTime</td>
            </tr>
            <tr>
                <th>Zatwierdzona?</th>
                <td>@Model.VerificationState.ToString()</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            <tr>
                <th>Nazwa</th>
                <th>Cena za sztuke</th>
                <th>Refundacja?</th>
                <th>Kategoria</th>
                <th>Ilość</th>
            </tr>
            @foreach (var p in Model.Medicines)
            {
                <tr>
                    <td>@p.StockMedicine.Name</td>
                    <td>@p.StockMedicine.PricePerOne</td>
                    <td>@p.StockMedicine.IsRefunded</td>
                    <td>@p.StockMedicine.MedicineCategory</td>
                    <td>@p.AssignedQuantity</td>
                </tr>
            }
        </tbody>
    </table>
</div>