@model List<UserModel>
@{
    ViewData["Title"] = "Edit Users";
}
<div class="users">
    <div class="table-header">
        <h1>Użytkownicy systemu:</h1>
        <form id="add-user" asp-action="add-user" method="Get">
            <button class="btn">Dodaj użytkownika</button>
        </form>
    </div>
    <table class="table container">
        <thead>
            <tr>
                <th>Imię i nazwisko</th>
                <th>Nazwa użytkownika</th>
                <th>Email</th>
                <th>Numer kontaktowy</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@(user.FirstName + " " +user.SecondName)</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                    <td>
                        <form action="EditUser" method="get">
                            <button class="btn">Edytuj</button>
                            <input type="hidden" name="userId" value="@user.SystemUserId" />
                        </form>
                    </td>
                    <td>
                        <form action="DeleteUser" method="post">
                            <button class="btn">Usuń</button>
                            <input type="hidden" name="userId" value="@user.SystemUserId" />
                        </form>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <form asp-action="Index" method="get">
        <button class="btn">Powrót</button>
    </form>
</div>